@media (max-width: 420px){
    #minhaDiv{
        background-color: gray;
    }

    .Cor::after{
        content: "Cinza";
    }
}

@media (max-width: 768px) and (min-width: 420px){
    #minhaDiv{
        background-color: orange;
    }

    .Cor::after{
        content: "Laranja";
    }
}

@media (max-width: 1024px) and (min-width: 768px){
    #minhaDiv{
        background-color: pink;
    }

    .Cor::after{
        content: "Rosa";
    }
}

@media (max-width: 1080px) and (min-width: 1024px){
    #minhaDiv{
        background-color: red;
    }

    .Cor::after{
        content: "Vermelho";
    }
}

@media (max-width: 1366px) and (min-width: 1080px){
    #minhaDiv{
        background-color: purple;
    }

    .Cor::after{
        content: "Roxo";
    }
}

@media (max-width: 1920px) and (min-width: 1366px){
    #minhaDiv{
        background-color: yellow;
    }

    .Cor::after{
        content: "Amarelo";
    }
}

@media (min-width: 1920px){
    #minhaDiv{
        background-color: brown;
    }

    .Cor::after{
        content: "Marrom";
    }
}

#minhaDiv{
    width: 500px;
    height: 500px;
    margin: auto;
}

.Cor{
    position: relative;
    top:50%;
    text-align: center;
}